<nav *ngIf="isLogged()" class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand"
      ><img src="assets/homeheat.png" alt="{{ title }}"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul
      class="nav navbar-nav ms-auto mb-2 mb-lg-0"
      routerLinkActive="active"
      id="navbarNav"
    >
      <li class="nav-item">
        <a class="nav-link" routerLink="/" [skipLocationChange]="true"
          >Dashboard</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/config" [skipLocationChange]="true"
          >Configuration</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          (click)="logout()"
          href="#"
          data-bs-toggle="modal"
          data-bs-target="#confirmModal"
          >Logout</a
        >
      </li>
    </ul>
  </div>
</nav>
<app-confirm-dialog></app-confirm-dialog>
<app-modal-loading></app-modal-loading>

<p></p>
<router-outlet></router-outlet>
