<td scope="row">
  <span class="badge bg-light text-dark">{{
    circuitData.index >= 0 ? circuitData.index : "Not available"
  }}</span>
</td>
<td>
  <span class="badge bg-light text-dark">{{
    circuitData.name || "Not available"
  }}</span>
</td>
<td>
  <span class="badge bg-light text-dark">{{
    getTemperature() || "Temp Not available"
  }}</span>
</td>
<td>
  <span
    class="badge"
    [ngClass]="circuitData.heating ? 'bg-danger' : 'bg-light text-dark'"
    >{{ circuitData.heating ? "ON" : "OFF" }}</span
  >
</td>
<td>
  <span class="form-check form-switch"
    ><input
      class="form-check-input"
      type="checkbox"
      id="checkboxControllerStatus"
      [(ngModel)]="circuitData.active"
      (click)="changeActive($event)"
      data-bs-toggle="modal"
      data-bs-target="#confirmModal"
  /></span>
</td>
